*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
Back-End/MuseumBack/appsettings.json
Back-End/MuseumBack/appsettings.Development.json
Back-End/MuseumBack/.vs/MuseumBack/v16/Server/sqlite3/db.lock
